nav {
  background-color: #a50f0f;
}

section {
  padding-top: 5rem;
}

h1 {
  font-family: "Playfair Display SC", serif;
}

h2 {
  font-family: "Playfair Display SC", serif;
}

p .lead {
  font-family: "oswald", sans-serif;
}

p {
  font-family: "Nunito", sans-serif;
}

.nav-link {
  font-family: "oswald", sans-serif;
}

#contact {
  padding: 3rem;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #e43737;
  text-align: center;
  color: #ffffff;
}

.jumbotron img {
  width: 200px;
}

#about p {
  text-align: start;
}

#exp {
  background-color: #e43737;
  color: #ffffff;
  /* padding-top: 3rem; */
}

#exp .row {
  margin-bottom: 2rem;
}

#exp .card {
  color: black;
  border-radius: 20px;
}

#exp img {
  width: auto;
  height: 300px;
  border-radius: 20px;
}

.btn {
  min-width: 160px;
  background-color: black;
}

.dropdown-menu {
  transition: all 0.5s ease;
}

#contact .bi {
  margin-right: 15px;
  font-weight: bolder;
}

.bi-instagram {
  color: #c13584;
}

footer {
  background-color: #a50f0f;
  color: white;
}

footer a {
  color: white;
  font-weight: bold;
}
